<!--include header-->
<%- include('include/_header.ejs') %>
<!--include header-->


    <div class="align">
        <h1>Blogger</h1>
        Welcome to Blogger
    </div>


    <!--include show-->
    <%- include('include/_show.ejs') %>
    <!--include show-->

    
        <!--include footer-->
        <%- include('include/_footer.ejs') %>
        <!--include footer-->