<!--include header-->
<%- include('include/_header.ejs') %>
<!--include header-->
    
    <div class="align">
        <h1><div class="fontAlign">Blogger</div></h1>
        <div class="fontAlign">Welcome to Blogger</div>
    </div>


    <!--include show-->
    <%- include('include/_show.ejs') %>
    <!--include show-->

    
        <!--include footer-->
        <%- include('include/_footer.ejs') %>
        <!--include footer-->