<!--include header-->
<%- include('include/_header.ejs') %>
<!--include header-->


    <h1><div class="fontAlign align">New Blog</div></h1>
    
    <div class="newblog">
        <form action="/api/blogs" method="post" id="new_blog">
            <input type="text" id="Title" name="Title" placeholder="Title Here"><br>
            <input type="url" id="imgURL" name="imgURL" placeholder="Image URL Here"><br>
            <textarea name="Discription" rows="10" placeholder="Discription Here"></textarea><br>
            <input type="submit" class="submit">
        </form>
    </div>


<!--include footer-->
<%- include('include/_footer.ejs') %>
<!--include footer-->