/* css for main blog */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    /* background-position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.links-container{
    display: flex;
    list-style: none;
    color:white;
    align-items: center;
    margin-left: 150px;
}

.link{
    border: 0px black;
    display: inline;
    padding: 20px;
    text-transform: capitalize;
    color: #fff;
    font-size:large ;
}

.align{
    margin-left: 350px;
    padding-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.HomeBlog{
    border: 1px rgb(146, 140, 140) solid;
    margin: -0.7px 350px;
    width: 788px;
    height: auto;
    padding: 15px;
    overflow: auto;
}

.HomeImg{
    float: left;
    margin-right: 15px;
    width: 250px;
    height: 150px;
}



.rdmrpos{
    margin-top: 15px;
    margin-bottom: 0px;
    border: 2px solid rgb(29, 159, 211);
    color: rgb(29, 159, 211);
    border-radius: 5px;
    padding: 5px;
}

.title{
    font-size: 25px;
    font-weight: bold;
    
}

.datetime{
    color: rgb(110, 101, 101);
}

p{
    padding-bottom: 3px;
    margin: 0px;
}

a{
    text-decoration: none;
}
a.link1:link,a.link1:visited{
    color: #fff;
}

a.link1:hover{
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.623);
}

a.rdmr{
    color: rgb(29, 159, 211);
}


/* css for new blog */
input[type=text],[type=url]{
    width: 1100px;
    padding: 12px 20px;
    margin: 8px 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    width: 1100px;
    padding: 12px 20px;
    margin: 8px 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.submit{
    margin-left: 200px;
    border: 2px solid rgb(29, 159, 211);
    color: rgb(29, 159, 211);
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

/* css for blog page */

.blogpicalign{
    width: 100%;
    padding: 15px 0px;
}

.titleblog{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    /* padding-bottom: 15px; */
}

.edit{
    margin-top: 15px;
    margin-bottom: 0px;
    border: 2px solid rgb(216, 216, 0);
    color: rgb(216, 216, 2);
    border-radius: 5px;
    padding: 5px 15px;
}

a.edit1{
    text-decoration: none;
    color: rgb(216, 216, 2);
}

.delete{
    margin-top: 15px;
    margin-bottom: 0px;
    border: 2px solid rgb(29, 159, 211);
    color: rgb(29, 159, 211);
    border-radius: 5px;
    padding: 5px 15px;
}
a.delete1{
    text-decoration: none;
    color: rgb(29, 159, 211);
}